.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(to right, #007bff, #00dbde);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 0 0 10px 10px;
  transition: all 0.3s ease-in-out;
}

.app-header h1 {
  font-size: calc(15px + 4vmin);
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  margin: 0;
}

@media (max-width: 768px) {
  .App-header {
    padding: 20px 0;
  }

  .app-header h1 {
    font-size: calc(12px + 4vmin);
  }
}





.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
}

.app-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.app-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  font-size: 24px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* Board styling as well */
.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  max-width: 700px;
  margin: 20px auto;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: column-reverse;
}


/* Cell styling */
.cell {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
}

.token {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.human-token {
  background-color: red; 
}

.ai-token {
  background-color: yellow;
}




/* Popup styling */

.game-container {
  position: relative;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1000;
  max-width: 90%;
  box-sizing: border-box;
  text-align: center;
}

.popup h2 {
  margin: 0 0 20px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: #0056b3;
}

/* Backdrop styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}